body{
    background-color: lightblue;
    color: rebeccapurple;
}

nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;
}

header {
    text-align: center;
}

.button{
    width: 250px;
    height: 30px;
    background-color: yellow;
    border-radius: 15px;
    border-color: red;
}